%ul.thumbnails.masonry.clearfix
  - @friends.each do |f|
    %li.span2
      = link_to journey_path(trip: {city: f.city, with: f.id}), class: "thumbnail friend" do
        = image_tag f.url
        .caption
          %h4
            = f.name
          %p
            = f.city
