-# encoding: utf-8
.row
  .span12
    .hero-unit
      .background(aria-hidden="true")
        %i.icon-info-sign
      %h1 À propos
.row
  .span12
    .page-header
      %h2
        %i.icon-map-marker
        Où sommes-nous ?
    %iframe{:frameBorder => "0", :height => "300", :src => "http://a.tiles.mapbox.com/v3/suruja.map-asz3cimi.html#11/48.54844312541114/7.764152158935566", :width => "100%"}

.row
  .span12
    .page-header
      %h2
        %i.icon-group
        Notre équipe
    %ul.thumbnails.masonry.clearfix
      %li.span4
        .thumbnail
          %img{src: "http://placehold.it/400x300"}
          .caption
            %h3
              Sébastien Azimi
            %p.lead
              Développeur
              %em frontend
            %p
              Étudiant ENSIIE
      %li.span4
        .thumbnail
          %img{src: "http://placehold.it/400x300"}
          .caption
            %h3
              Lucas Bee
            %p.lead
            %p
              Étudiant ENSIIE
      %li.span4
        .thumbnail
          %img{src: "http://placehold.it/400x300"}
          .caption
            %h3
              Adrian Bracigliano
            %p.lead
              Développeur Android
            %p
              Étudiant ENSIIE
      %li.span4
        .thumbnail
          %img{src: "http://placehold.it/400x300"}
          .caption
            %h3
              Paul Chobert
            %p.lead
              Développeur
              %em backend
            %p
              Étudiant ENSIIE
      %li.span4
        .thumbnail
          %img{src: "http://placehold.it/400x300"}
          .caption
            %h3
              Paul-Henri Koeck
            %p.lead
              Développeur iOS
            %p
              Étudiant ENSIIE
      %li.span4
        .thumbnail
          %img{src: "http://placehold.it/400x300"}
          .caption
            %h3
              Léo Unbekandt
            %p.lead
            %p
              Étudiant ENSIIE
.page-header
  %h2
    %i.icon-screenshot
    Les défis que nous allons relever
.row
  .span12
    %ul.thumbnails.masonry.clearfix
      %li.span3
        .thumbnail
          %img{src: "http://www.moovijob.com/GetDocument?lId=91477"}
          .caption
            %h3
              Abase
      %li.span3
        .thumbnail
          %img{src: "http://1.bp.blogspot.com/--f-a5KtJjhQ/T2dukTwZkeI/AAAAAAAAAgU/pP4dZqEO-M4/s1600/logica.png"}
          .caption
            %h3
              Logica
      %li.span3
        .thumbnail
          %img{src: "http://www-sop.inria.fr/colloquium/logos/INRIA_CHERCHEURS_FR_RVB.jpg"}
          .caption
            %h3
              Inria
      %li.span3
        .thumbnail
          %img{src: "http://www.camilleroux.com/wp-content/uploads/2012/02/LOGO-NOIR-1000px.png?119d5e"}
          .caption
            %h3
              Human Coders
      %li.span3
        .thumbnail
          %img{src: "http://4.bp.blogspot.com/-PuD0YySj7BA/T9thnU6X5sI/AAAAAAAAHEQ/LQjnauc_8P0/s1600/Rhenatic_Logo.png"}
          .caption
            %h3
              Rhenatic
      %li.span3
        .thumbnail
          %img{src: "http://www.lif.univ-mrs.fr/~labourel/images/CNRS.jpg"}
          .caption
            %h3
              LIF
      %li.span3
        .thumbnail
          %img{src: "http://www.nuitdelinfo.com/nuitinfo2012/_media/defis:logos:00-logo-viveris.png"}
          .caption
            %h3
              Viveris


.row
  .span12
    .page-header
      %h2
        %i.icon-trophy
        Pourquoi nous allons gagner
  .span4
    %h3
      %i.icon-bolt.icon-large
      Technologies de pointe
    %p.lead
      Ruby On Rails, iOS, Android
    %p
      Parce que nous sommes passionnés de nouvelles
      technologies, nous mettons en avant celles auxquelles
      nous croyons.
  .span4
    %h3
      %i.icon-group.icon-large
      Équipe de choc
    %p.lead
      6 développeurs passionnés
    %p
      Le travail ne nous fait pas peur. Nous ferons tout ce que nous pouvons
      (et plus encore) pour atteindre notre objectif : obtenir une application
      utile, simple d'utilisation et jolie. Ne nous dîtes pas que c'est impossible,
      nous sommes têtus comme des mules.
  .span4
    %h3
      %i.icon-heart.icon-large
      Fait avec amour
    %p.lead
      Nos applis sont faites pour vous
    %p
      Nous aimons le travail bien fait et nous attachons une grande importance
      à l'expérience utilisateur. Nous espérons donc que vous apprécierez votre
      navigation sur nos applis.
