-# encoding: utf-8
.page-header
  %h1 A propos
%h2 Notre équipe
%ul
  %li
    Sébastien Azimi
  %li
    Lucas Bee
  %li
    Adrian Bracigliano
  %li
    Paul Chobert
  %li
    Paul-Henri Koeck
  %li
    Léo Unbekandt
%h2 Les défis que nous allons relever
%ul
  %li
    Abase
