-# encoding: utf-8
.container
  .row.primary-search
    .span12
      %h1
        Préparer votre prochain séjour !
    = form_for Trip.new, url: journey_path, method: :get do |f|
      .span9
        = f.text_field :city, class: "typeahead", placeholder: "Entrez une ville"
      .span3
        = f.submit "Partez !", class: "btn btn-primary"
