/* Body */
body
  background: $bodyBackground
  color: $textColor
  padding-top: 80px

a
  color: $activeColor

p
  font-size: 12pt
  line-height: 1.8em

.hero-unit
  background: $heroUnitBgColor
  border-bottom: 1px solid $activeColor
  position: relative
  overflow: hidden
  z-index: 0
  .background
    position: absolute
    bottom: -10px
    right: -10px
    font-size: 300px
    z-index: -1
    opacity: 0.6


.page-header
  border-bottom: 1px solid $activeColor

.footer
  width: 100%
  background: #333
  color: $inverseColor
  min-height: 200px
  margin-top: 30px
  border-top: 4px solid $inverseColor
  h1, h2, h3, h4, h5, h6
    color: $inverseColor
  .social-bookmarks
    font-size: 30px
    a
      border: none

i[class^='icon-']
  color: $activeColor
  &.icon-large.circle
    text-align: center
    +border-radius(50%)
    background: $inverseDarkColor
    margin-right: 20px
    height: 50px
    width: 50px
    display: inline-block

.no-space[class*="span"]
  margin-left: 0

img.circle
  +border-radius(50%)

.center
  text-align: center

.thumbnails
  .thumbnail
    background: $heroUnitBgColor

#map
  height: 550px
  .marker-title
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif
    font-weight: bold
  .map-fullscreen
    z-index: 1

/* Avatar styles */
.avatar
  &, & > img
    display: inline-block
    vertical-align: middle
    margin-right: 5px
    background: image-url("avatar_placeholder.gif") center no-repeat
    background-size: 100%
    border: 1px solid #999
    height: 50px
    width: 50px
    &.avatar-tiny
      height: 25px
      width: 25px
    &.avatar-small
      height: 50px
      width: 50px
    &.avatar-medium
      height: 100px
      width: 100px
    &.avatar-large
      height: 200px
      width: 200px

/* Main navbar */
.navbar
  border-top: 2px solid $activeColor
  margin-bottom: 15px
  .avatar
    margin-top: -10px
    margin-bottom: -5px
    border: none

.carousel
  &, & .item img
    +hard-transition

.primary-search
  margin: 10vmin 0
  padding: 5vmin
  background: rgba(255,255,255,0.8)
  input
    +primary-search-width
    margin: 5vmin 0
    padding: 30px 15px
    color: #111

.typeahead-item
  +primary-search-width
  display: block
  padding: 10px 15px
