-# encoding: utf-8
.row
  .hero-unit
    .container
      .span12
        .background(aria-hidden="true")
          %i.icon-globe
        %h1
          Votre visite de
          = @journey.city
        %p.lead
          Carnet de route pour passer une super journée
        - if @journey.city.downcase == "strasbourg"
          %a{:href => asset_path("strasbourg.html")}
            %button Journées des utilisateurs

.container
  .row
    .span8
      %ul.journey
        - @journey.details.each do |step|
          %li.row.journey-step
            .span1
              .journey-time-container
                .journey-time
                  = step.time
            .span7
              %h4.media-heading
                = step.venue.name
              %p
                = step.category
    .span4
      %img{src: "http://placehold.it/370x370"}
